<h1>ジャンル一覧</h1>
<table class="table">
	<tr>
		<th class="col-xs-3">ジャンル名</th>
		<th class="col-xs-3">ジャンルの説明</th>
		<th class="col-xs-2"></th>
		<th class="col-xs-2"></th>
	</tr>
		<% @genres.each do |genre| %>
			<tr>
				<td class="col-xs-3">
					<%= link_to genre.name, genre_path(genre.id) %>
				</td>
				<td class="col-xs-3">
					<%= genre.introduction %>
				</td>
				<td class="col-xs-1">
					<%= link_to "編集", edit_genre_path(genre.id), class: "btn btn-success" %>
				</td>
				<td class="col-xs-2">
					<% if current_user.id.to_i == genre.user_id.to_i %>
						<%= link_to "削除", genre_path(genre.id), method: :delete, class: "btn btn-success", data: { confilm: "本当に削除しますか？"} %>
					<% else %>

					<% end %>
				</td>
			</tr>
		<% end %>
</table>