<h1>ジャンル説明</h1>
<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-3">
		<h1><%= @genre.name %></h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-3">
		<h2><%= @genre.introduction %></h2>
	</div>
</div>
