<h1>ユーザー一覧</h1>
<table class="table">
	<tr>
		<th>アイコン</th>
		<th>ユーザー名</th>
		<th></th>
	</tr>
<%= @users.each do |user| %>
	<tr>
		<td>
			<%= attachment_image_tag user, :image, :fill, 40, 40, format: "jpg" %>
		</td>
		<td>
			<%= link_to user.name, user_path(user.id) %>
		</td>
		<td>
			<%= link_to "削除", user_registration_path(user.id), method: :delete, class: "btn btn-danger" %>
		</td>
	</tr>

