<header>
  <div class="row">
    <div class="col-xs-3">
      <div class="title_img"></div>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-3">
          <%= link_to "新規登録", new_user_registration_path %>
        </div>

        <div class="col-xs-3">
          <%= link_to "ログイン", new_user_session_path %>
        </div>

        <div class="col-xs-3">
          
        </div>

        <div class="col-xs-3">
          コンテンツ４
        </div>
      </div>
    </div>
  </div>
</header>