<header class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <div class="title_img"></div>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-3">
          <%= link_to "お知らせ投稿", new_notice_path %>
        </div>

        <div class="col-xs-3">
          
        </div>

        <div class="col-xs-3">
          <%= link_to "管理者トップへ", admins_top_path %>
        </div>

        <div class="col-xs-3">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</header>