<h1>このサイトについて</h1>
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<div class="row">
			<h2>このサイトの目的</h2>
			<div class="col-xs-1"></div>
			<div class="col-xs-11">
				<div class="row">
					<h3>みんなで趣味を共有するのがメイン</h3>
					<p>
						趣味を単純に公開したい人、趣味の詳しいところについて議論したい人、<br>
						様々な人が同じ趣味という点だけで集まれます。<br>
						匿名での記事投稿も可能なので、気軽に利用することが可能です。
					</p>
				</div>
				<div class="row">
					<h3>趣味を新たに見つけることも可能</h3>
					<p>
						ランキングや、ランダム表示機能があるので、趣味を新たに見つける人も、<br>
						色んな人の記事を見たうえで本当に自分に合っている趣味を見つけることが可能です。
					</p>
				</div>
			</div>
		</div>

		<div class="row br50">
			<h2>サイト名の由来</h2>
			<div class="col-xs-1"></div>
			<div class="col-xs-11">
				<div class="row">
					<h3>インシンマーレ => 殷賑　mare</h3>
				</div>
				<div class="row">
					<h3>殷賑とは</h3>
					<p>	にぎわうこと、繁盛しているさまを殷賑といいます。</p>
				</div>
				<div class="row">
					<h3>mareとは</h3>
					<p>マーレは、ラテン語で海を指します。広大なネットをイメージしています。</p>
				</div>
				<div class="row">
					<h3>サイト名に込められた思い</h3>
					<p>
						由来の意味をつなげると、”にぎやかな海”といった名前になります。<br>
						ネットという広大な海のなかでも、繁盛するようにと祈ってこの名前になりました。
					</p>
				</div>
			</div>
		</div>
		<div class="row br50">
			<h2>このサイトを作った人について</h2>
			<div class="xol-xs-1"></div>
			<div class="col-xs-11">
				<div class="row">
					<h3>簡単な経歴</h3>
					<p>
						小学生時代　=>　親の代わりにExcel,Wordで資料作り。当時Windows98だった。<br>
						中学生時代　=>　パソコン部部長、ホームページビルダーが当時便利だった。<br>
						高校生時代　=>　いったんパソコンから離れ、科学部に。数学が大好きだった。<br>
						大学生時代　=>　経済的自立を目指して中退する。初めての一人暮らしは楽しかった。<br>
						今現在　　　=>　ずっと夢だったエンジニアになれるよう目指している。
					</p>
				</div>
				<div class="row">
					<h3>そもそも当初の構想とか</h3>
					<p>
						学生時代にHTMLとJavaScriptだけの簡易的なページを作成していました。<br>
						その時にやりたいことを詰め込もうと思ったのですが、なかなか時間がなく、今回はできなかったた「やりたいこと」があります。<br>
						その紹介をさせて戴くと、<br><br>
						<%= link_to "画像の移動を用いた簡易的な2DRPG風サイトの作成", test1_path %><br>
						　→画像が特定の座標に移動したとき、何かしらのページにリダイレクト処理することで、<br>
						まるで2Dの世界を歩いているような体験を、ブラウジングするだけでできるのではないかと思ったのがきっかけ。<br><br>
						<%= link_to "画像アニメーション処理のテンプレート作成", test2_path %>・<br>
						　→上のサイトに大きく貢献できるもの。パラパラ漫画の原理で、画像をループ処理で動いているように表現できないかと構想していた。<br><br>
						<%= link_to "奥行きのあるサイト", test3_path %><br>
						　→サイトに奥行きを持たせ、背景が後ろ遠くに見えるように、記事が手前に見えるようにサイトを作りたかった。<br>
						教わった技術を駆使すればこれらの解決は時間の問題だと思っております。
					</p>
				</div>
			</div>

	</div>
</div>
